spring:
  redis:
    host: localhost
    port: 6379
  
  cloud:
    config:
      uri: http://localhost:8888

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    com.bookstore.gateway: DEBUG
    reactor.netty: DEBUG