spring:
  data:
    mongodb:
      host: localhost
      port: 27017
      database: recommendation_db
  
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

server:
  port: 8084

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

logging:
  level:
    com.bookstore.recommendation: DEBUG
    org.springframework.data.mongodb: DEBUG
