apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: bookstore-logs-pvc
  namespace: bookstore
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 10Gi
  storageClassName: standard
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: bookstore-uploads-pvc
  namespace: bookstore
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 50Gi
  storageClassName: standard