spring:
  datasource:
    url: jdbc:postgresql://${DB_HOST:postgres}:5432/user_management_db
  jpa:
    show-sql: false

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/

logging:
  level:
    com.bookstore.usermanagement: INFO
